<html>
    <head>
        <title>PAGE</title>
    </head>
    <body>
    <form method="post" action="index.html">
        Nom=<input type="text" name="lastname">
        <br/>
        Prenom=<input type="text" name="firstname">
        <br/>
        Email=<input type="text" name="email">
        <br/>
        Pseudo=<input type="text" name="pseudo">
        <br/>
        Adresse =<input type="text" name="adress">
        <br/>
        <input type="submit" value="Envoyé">
    </form>

        <a href='#' onclick='downloadCSV({ filename: "stock-data.csv" });'>Download CSV</a>

    </body>
    <script src="../../../app.js"></script>
</html>
